@model CreateSpecialOfferDto
@{
    ViewData["Title"] = "CreateSpecialOffer";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Yeni Fırsat/Indirim Girişi</h4>
                <form method="post" asp-controller="SpecialOffer" asp-action="CreateSpecialOffer" asp-area="Admin">
                    <div class="row">
                        <div class="col-md-8">
                            <fieldset class="form-group">
                                <input class="form-control" autofocus asp-for="Title" placeholder="Başlık Giriniz" type="text">
                            </fieldset>
                            <fieldset class="form-group">
                                <input class="form-control" asp-for="SubTitle" placeholder="Alt Başlık Giriniz" type="text">
                            </fieldset>
                            <fieldset class="form-group">
                                <input class="form-control" asp-for="PictureUrl" placeholder="Resim Giriniz" type="text">
                            </fieldset>
                            <button class="btn btn-primary" type="submit">Kaydet</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>
</section>

