@model UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Kategori Güncelleme (@Model.Name)</h4>
                <form method="post">
                    <input asp-for="CategoryId" type="hidden" />
                    <div class="row">
                        <div class="col-md-8">
                            <fieldset class="form-group">
                                <input class="form-control" asp-for="CategoryId" type="text" readonly>
                            </fieldset>
                            <fieldset class="form-group">
                                <input class="form-control" autofocus asp-for="Name" type="text">
                            </fieldset>
                            <fieldset class="form-group">
                                <input class="form-control" asp-for="PictureUrl" type="text">
                            </fieldset>
                            <button class="btn btn-outline-warning" type="submit">Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

