@model List<ResultProductDetailDto>


<div class="tab-pane fade show active" id="tab-pane-1">
    @foreach (var item in Model)
    {
        <h4 class="mb-3">@item.Info</h4>
        <p>@item.Description</p>
    }
</div>