<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Müşteri Paneli</title>
    <link rel="stylesheet" href="/User/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/User/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/User/css/style.css">
    <link rel="shortcut icon" href="/User/images/favicon.png" />
</head>