@model List<ResultCategoryDto>

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />


<div class="container">
    <br /><br /><br />
    <h3>Kategori Bilgisi</h3>

    @foreach (var item in Model)
    {
        <p>@item.Name</p>
    }
</div>
