<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item sidebar-category">
            <p>Menüler</p>
            <span></span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="mdi mdi-account-convert menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="mdi mdi-basket-unfill menu-icon"></i>
                <span class="menu-title">Siparişler</span>
                <i class="menu-arrow"></i>
                <div class="badge badge-info badge-pill">2</div>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="#">Geçmiş Siparişler</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Aktif Siparişler</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/charts/chartjs.html">
                <i class="mdi mdi-truck-delivery menu-icon"></i>
                <span class="menu-title">Kargolarım</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/tables/basic-table.html">
                <i class="mdi mdi-message-draw menu-icon"></i>
                <span class="menu-title">Mesajlarım</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/icons/mdi.html">
                <i class="mdi mdi-playlist-check menu-icon"></i>
                <span class="menu-title">Taleplerim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#auth">
                <i class="mdi mdi-exit-to-app menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>